body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #050505;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .icone {
    position: absolute;
  }

  .meisi {
    margin:0;
    width :100%;
    height:100%;
  }
  
  .gaitou {
    width: 300px;
    height: 430px;
    margin:50px 20px;
  }
  
  .neko {
    width: 300px;
    height: 430px;
    margin:50px 20px;
  }
  
  
  .photo{
    display: flex; /* flexboxを使用して要素を横に並べる */
    flex-direction: column; /* 要素を縦に配置する */
    align-items: first baseline; /* 要素を中央に配置する */
  }
  
  .photo img {
    width: 300px; /* 写真の幅 */
    height: auto; /* 高さは自動調整 */
  }
  
  .photo p {
    margin-top: 10px; /* 文章と写真の間に隙間を追加 */
  }
  .slide-container {
    width: 1200px;
    display: flex;
    align-items: center;
    height: 430px;
    overflow: hidden;
    flex-direction: row;
    margin-left: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
  }
  .slide-wrapper {
    display: flex;
    flex-direction: row;
    animation: slide-flow 20s infinite linear 1s both;
  }
  .slide{
    width: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
  }
  @keyframes slide-flow {
       0% {transform: translateX(0);}
   100% {transform: translateX(-100%);}
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }