header {
  background-color: #050505;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

body {
  background: linear-gradient(to bottom, #090852,#8a5ce6,#d78cef,#f5b8fc);
  color: #fff;
  text-align: center;
}

  body, html {
    margin: 0;
    padding: 0;
  }

  .kura1{
    top: 0;
    right: 0;
    width: 100%; /* 写真の幅 */
    height: 100%; /* 写真の高さ */
    overflow: hidden;
    margin-bottom: 200px;
  }
  .gaitou_port {
    display: inline-block;
    width: 700px; /* コンテナの幅 */
    height:1000px; /* 画像と文章の間隔を設定 */
  }
  
  .image-with-text {
    display: flex; /* Flexboxを使って要素を横並びに配置 */
    align-items: center; /* 画像と文章を縦方向に中央揃え */
    gap: 20px; /* 画像と文章の間隔 */
    margin-left: 400px;
  }
  
  .icon{
      width: 100px; /* 画像の幅 */
      height: auto; /* アスペクト比を保ったまま高さを自動調整 */
  }

  img {
    width: 600px; /* 画像の幅 */
    height: auto; /* アスペクト比を保ったまま高さを自動調整 */
  }
  
  p {
    font-size: 16px;
    color: #ffffff;
  }

  footer {
    margin-top: 50px;
    background-color: #000000;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
