header {
  background-color: #050505;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

  video {
    width: 100pt;
    height: 60pt;
    object-fit: cover;
  }

  body, html {
    margin: 0;
    padding: 0;
  }

  .kura1{
    width:1500px;
    height:900px;
  }

  

